---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.mainheading h1.posttitle {
    font-size: 2.0rem;
}

.article-post p {
    margin: 0 0 1.0rem 0;
    text-align: justify;
}

.post-top-meta {
    margin: 1.0rem 0 1.0rem 0;
}

.lead {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.05rem;
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
